{% load i18n %}
{% load static  %}
{% load compress %}
{% load rich_text %}

{% compress js %}
    <script type="text/javascript" src="{% static "pretix_googlepaypasses/js/button.js" %}"></script>
{% endcompress %}

{% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static "pretix_googlepaypasses/scss/pretix_googlepaypasses.scss" %}"/>
{% endcompress %}

{% if event.settings.ticketoutput_googlepaypasses_show_disclaimer %}
    <div class="modal fade" id="googlepaypassesmodal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{% trans "Privacy notice" %}</h5>
                </div>
                <div class="modal-body">
                    {{ event.settings.ticketoutput_googlepaypasses_disclaimer_text|rich_text }}
                </div>
                <div class="modal-footer">
                    <form action="#" method="post" data-asynctask data-asynctask-download class="form-inline helper-display-inline">
                        <input type="hidden" name="csrfmiddlewaretoken" value="">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Abort" %}</button>

                        <button type="submit" class="btn btn-primary">
                            <span class="fa fa-google"></span>{% trans " Pay | Save to phone" %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}